<%= form_for(@admin_album, html: { id: "validate-form" } ) do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel"><%= t("album.edit") %></h4>
</div>
<div class="modal-body">
  <div class="smart-form">
    <fieldset>
      <!-- name -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"> 
            <%= f.label t("album.name") %><br>
          </label>
          <label class="input">
            <i class="icon-append fa fa-pencil"></i>
            <%= f.text_field :name, required: true, maxlength: 24, placeholder: t("album.name_length_info") %>
          </label>
        </section>
      </div>
      <!-- end name -->
      <!-- tags -->
      <div class="row">
        <section class="col col-md-12">
        <label class="label"><%= f.label t("album.tags") %></label>
          <label class="select">
            <select name="admin_album[tags]" class="select2" id="album_category" >
              <% @admin_album_tags.each do |admin_album_tag| %>
                  <% if @admin_album.tags === admin_album_tag.text %>
                  <option value="<%= admin_album_tag.text %>" selected style="padding:6px;"><%= admin_album_tag.text %></option>
                  <% else %>
                  <option value="<%= admin_album_tag.text %>" style="padding:6px;"><%= admin_album_tag.text %></option>
                  <% end %>
              <% end %>
            </select>
            <i></i>
          </label>
        </section>
      </div>
      <!-- end tags -->
      <% if @admin_album.created_at %>
      <!-- cover -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"><%= f.label t("album.cover") %><br></label>
            <%= image_tag @admin_album.cover.url(:small), class: "img-responsive" %>
          <div class="input input-file">
            <span class="button"><%= f.file_field :cover, readonly: 'true', onchange: "this.parentNode.nextSibling.value = this.value", accept: "image/jpeg, image/png, image/gif, image/jpg" %><%= t("operate.upload") %></span><input type="text" readonly="true"  value="<%= @admin_album.cover_file_name %>" >
          </div>
        </section>
      </div>
      <% else %>
      <div class="row">
        <section class="col col-md-12">
          <label class="label"><%= f.label t("album.cover") %><br></label>
          <div class="input input-file">
            <span class="button"><%= f.file_field :cover, readonly: 'true', onchange: "this.parentNode.nextSibling.value = this.value", required: true, accept: "image/jpeg, image/png, image/gif, image/jpg" %><%= t("operate.upload") %></span><input type="text" readonly="true" placeholder="<%= t "album.cover_valid_info" %>" >
          </div>
        </section>
      </div>
      <% end %>
      <!-- end cover -->
      <!-- description -->
      <div class="row">
        <section class="col col-md-12"> 
          <label class="label"><%= f.label t("album.description") %><br></label>
          <label class="textarea textarea-resizable"><i class="icon-append fa fa-comment"></i>   
            <%= f.text_area :description, class: "custom-scroll", rows: "7" %>                
          </label>
        </section>
      </div>
      <!-- end description -->
    </fieldset>
  </div>
  <!-- end smart-form -->
</div>
<div class="modal-footer">
  <%= f.submit t("operate.submit"), class: "btn btn-primary" %>
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("operate.back") %></button>
</div>
<% end %>






