    <!-- widget-section-1 -->
    <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2><%= t("article.basic_info") %></h2>
      </header>

      <!-- smart-form -->
      <div class="smart-form">
        <div class="jarviswidget-editbox"></div>
        <!-- widget-body  -->
        <div class="widget-body no-padding">
          <!-- basic information -->
          <fieldset>
            <!-- title -->
            <div class="row">
              <section class="col col-6">
                <label class="label"> 
                  <%= f.label t("article.title")  %><br>
                </label>
                <label class="input">
                  <i class="icon-append fa fa-pencil"></i>
                  <%= f.text_field :title, required: true %>
                </label>
              </section>
            </div>
            <!-- end title -->
            <!-- category -->
            <div class="row">
              <% if @admin_article.created_at %>
                <section class="col col-4">
                <label class="label"> 
                  <%= f.label t("article.category") %><br>
                </label>
                <label class="input"><i class="icon-append fa fa-lock"></i>
                  <input type="text" value="<%= @admin_article.category.title %>" readonly >
                </label>
              </section>
              <% else %>
              <section class="col col-4">
                <label> 
                  <%= f.label t("article.category") %><br>
                </label>
                <select name="admin_article[category_id]" class="select2" id="article-category" required >
                  <option value="" disabled selected><%= t "article.select_option_default" %></option>
                  <% @categories.each do |article_category| %>
                  <option value="<%= article_category.id %>"><%= article_category.title %></option>
                  <% end %>
                </select>
              </section>
              <% end %>
            </div>
            <!-- end category -->

            <!-- author -->
            <div class="row">
              <section class="col col-3">
                <label class="label"> 
                  <%= f.label t("article.author") %><br>
                </label>
                <label class="input">
                  <i class="icon-append fa fa-pencil"></i>
                  <%= f.text_field :author, required: true%>
                </label>
              </section>
            </div>
            <!-- end author -->
            <!-- hits -->
            <div class="row">
              <section class="col col-1">
                <label><%= f.label t("article.hits") %></label>
                <%= f.text_field :hits, class: "spinner-both", id: "spinner", value: 0, style: 'box-sizing: border-box;', required: true %>
              </section>
            </div>
            <!-- end hits -->
            <!-- recommand switch -->
            <div class="row">
              <section class="col col-3">
                <label class="toggle">
                  <%= f.check_box :is_recommand %>
                  <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= f.label t("article.is_recommand") %>
                </label>
              </section>
            </div>
            <!-- end recommand switch -->
            <!-- carousel switch -->
            <div class="row">
              <section class="col col-3">
                <label class="toggle">
                  <%= f.check_box :is_carousel %>
                  <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= f.label t("article.is_carousel") %>
                </label>
              </section>
            </div>
            <!-- end carousel switch -->
            <!-- mark switch -->
            <div class="row">
              <section class="col col-3">
                <label class="toggle">
                  <%= f.check_box :is_mark %>
                  <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= f.label t("article.is_mark") %>
                </label>
              </section>
            </div>
            <!-- end mark switch -->
          </fieldset>
          <!-- end basic information -->   
        </div>
        <!-- end widget-body -->
      </div>
      <!-- end smart-form -->
    </div>
    <!-- end widget-section-1 -->