<%if notice %>
<div class="alert alert-success fade in">
  <button class="close" data-dismiss="alert">×</button>
  <i class="fa-fw fa fa-check"></i>
  <strong><%= notice %></strong>
</div>
<% end %>
<%if flash[:error] %>
<div class="alert alert-danger fade in">
  <button class="close" data-dismiss="alert">×</button>
  <i class="fa-fw fa fa-times"></i>
  <strong><%= flash[:error] %></strong>
</div>
<% end %>
<%= form_tag multi_destroy_admin_articles_path, method: :delete, id: "muti_destory_form"  do %>
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-file"></i> </span>
    <h2><p><%= t("article.table_title") %></p></h2>
  </header>
  <div>
    <div class="jarviswidget-editbox"></div>  
    <div class="widget-body no-padding">
      <table id="datatable_fixed_column" class="table table-bordered">
        <thead>
          <tr>
            <th> <!-- fix for id --> </th>
            <th><%= t("article.id") %></th>
            <th><%= t("article.title") %></th>
            <th><%= t("article.author") %></th>
            <th><%= t("article.hits") %></th>
            <th><%= t("article.created_at") %></th> 
            <th><%= t("article.category") %></th>
            <th><%= t("operate.title") %></th>
          </tr>
          <tr class="second">
            <td colspan="2">
              <!-- fix for search init -->
              <input type="text" class="search_init hidden"></div><input type="text" class="search_init hidden"></div>
              <%= link_to t("operate.delete_selected"),"javascript:mutiDestroy()", class: 'btn bg-color-red txt-color-white' %>
            </td>
            <td class="smart-form">
              <label class="input">
                <input type="text" value="<%= t("article.search_by_title") %>" class="search_init">
              </label>  
            </td>
             <td class="smart-form">
              <label class="input">
                <input type="text" value="<%= t("article.search_by_author") %>" class="search_init">
              </label>  
            </td>
             <td class="smart-form">
              <label class="input">
                <input type="text" value="<%= t("article.search_by_hits") %>" class="search_init">
              </label>  
            </td>
            <td class="smart-form">
               <label class="input"><i class="icon-append fa fa-calendar"></i>
                <input type="text" value="<%= t("article.search_by_created") %>" class="datepicker search_init" data-dateformat="yy-mm-dd">
              </label>
            </td>
            <td class="smart-form">
              <label class="input">
               <select id="category_select" class="select2">
                <option value="" selected><%= t "article.select_option_all" %></option>
                <% @categories.each do |article_category| %>
                <option value="<%= article_category.title %>"><%= article_category.title %></option>
                <% end %>
              </select>
            </label>  
          </td>
            <td>
              <%= link_to t("operate.new"), new_admin_article_path, data: { no_turbolink: true }, class: "btn bg-color-green txt-color-white" %>
            </td>
          </tr>
        </thead>

        <tbody>
          <% @admin_articles.each do |admin_article| %>
          <tr>
            <td class="smart-form"><label class="checkbox"><%= check_box_tag "article_ids[]", admin_article.id %><i></i> </label></td>
            <td><%= admin_article.id %></td>
            <td><%= admin_article.title %></td>
            <td><%= admin_article.author %></td>
            <td><%= admin_article.hits %></td>
            <td><%= admin_article.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= admin_article.category.title %></td>
            <td>
             <%= link_to t("operate.show"), admin_article, class: "btn bg-color-blue txt-color-white" %>
             <%= link_to t("operate.edit"), edit_admin_article_path(admin_article), data: { no_turbolink: true }, class: "btn bg-color-orange txt-color-white" %>
             <%= link_to t("operate.delete"), admin_article, method: :delete, data: { title: "#{t('article.delete_title')}", confirm: "#{t('article.delete_info')}" }, class: "btn bg-color-red txt-color-white" %>
             <%= link_to t("article.is_carousel"), picture_by_admin_article_picture_path(admin_article.id), class: "btn bg-color-blueDark txt-color-white" if admin_article.category.is_carousel %>
           </td>
         </tr>
         <% end %>
       </tbody>
     </table>      
   </div>
 </div>
</div>
<% end %>
