<%if notice %>
<div class="alert alert-success fade in">
  <button class="close" data-dismiss="alert">×</button>
  <i class="fa-fw fa fa-check"></i>
  <strong><%= notice %></strong>
</div>
<% end %>
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
    <h2><%= t("operate.show") %></h2>        
  </header>
  <div>
    <div class="jarviswidget-editbox"></div>
    <div class="widget-body">
      <div class="smart-form">
        <fieldset>
          <div class="row">
            <section class="col col-md-12">
              <h2 class="text-center">
                <%= @admin_article.title %>
              </h2>
            </section>
          </div>
          <div class="row">
            <section class="col col-md-12">
              <h5 class="text-right"><%= t("article.author") %>:
              <%= @admin_article.author %>&nbsp;
                <%= t("article.created_at") %>:
                <%= @admin_article.created_at.strftime("%Y-%m-%d") %>&nbsp;
                <%= t("article.hits") %>:
                <%= @admin_article.hits %>
              </h5>
            </section>
          </div>

           <div class="row">
            <section class="col col-md-12">
               <h2 class="article-abstract">
                <small><%= @admin_article.abstract %></small>
              </h2>
            </section>
          </div>
          <% if @admin_article.options %>
          <div class="row">
            <section class="col col-md-12">
              <h2 class="article-option">
                <% eval(@admin_article.options).each do |key,value| %>
                <div class="col-md-1"><small><%= key %>：</small></div>
                <div class="col-md-1"><small><%= value %></small></div>
                <% end %>
              </h2>
            </section>
          </div>
          <% end %>
          <div class="row">
            <section class="col col-md-12">
              <h5 class="article-content">
                <%= raw(@admin_article.content) %>
              </h5>
            </section>
          </div>

          <% if (@admin_article.thumb_file_name) %>
           <div class="row">
            <section class="col col-md-12">
              <span class="article-thumb"><i class="glyphicon glyphicon-picture"></i><%= t("article.thumb") %>:</span>
            </section>
            <section class="col col-md-12">
              <%= image_tag @admin_article.thumb.url(:small) %>
            </section>
          </div>
          <% end %>

          <% if (@admin_article.file_file_name) %>
           <div class="row">
            <section class="col col-md-12">
              <span class="article-link pull-right"><i class="glyphicon glyphicon-link"></i><%= t("article.file") %>:
              <a href="<%= @admin_article.file.url %>"><%= @admin_article.file_file_name %></a>
              </span>
            </section>
          </div>
          <% end %>

        </fieldset>
        <footer>
          <%= link_to t("operate.back"), admin_articles_path, class: "pull-right btn btn-primary", data: { no_turbolink: true } %>
          <%= link_to t("operate.edit"), edit_admin_article_path(@admin_article), class: "pull-right btn btn-primary", data: { no_turbolink: true }%>
        </footer>
      </div>
    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</div>




