<!-- file upload -->
 <div class="row" id="is_file">
 	<section class="col col-4">
 		<label class="label"><%= f.label t("article.file") %>（<%= t("article.file_type_info") %>）<br></label>
 		<div class="input input-file">
 			<span class="button"><%= f.file_field :file, readonly: 'true', onchange: "this.parentNode.nextSibling.value = this.value",
 			accept: "application/pdf, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint" %><%= t("operate.upload") %></span><input type="text" readonly="true" value="<%= @admin_article.file_file_name %>">
 		</div>
 	</section>
 </div>
<!-- end file upload -->