<%= form_for(@admin_photo) do |f| %>

  <% if @admin_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_photo.errors.count, "error") %> prohibited this admin_photo from being saved:</h2>

      <ul>
      <% @admin_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :album_id %>
  </div>


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= t("album_tag.edit") %></h4>
      </div>
      <div class="modal-body">
        <div class="smart-form">
          <fieldset>
            <div class="row">
              <div class="col col-md-12">
                <label class="label"> 
                  <%= f.label t("album_tag.name") %><br>
                </label>
                <label class="input">
                  <i class="icon-append fa fa-pencil"></i>
                  <%= f.text_field :name, required: true%>
                </label>
              </div>
            </div>
            <div class="row" id="is_abstract">
              <section class="col col-8"> 
                <label class="label"><%= f.label t("article.abstract") %><br></label>
                <label class="textarea textarea-resizable"><i class="icon-append fa fa-comment"></i>   
                  <%= f.text_area :description, class: "custom-scroll", rows: "7" %>                
                </label>
              </section>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t("operate.submit"), class: "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("operate.back") %></button>
      </div>



  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
