<p id="notice"><%= notice %></p>

<h1>Listing Admin Photos</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_photos.each do |admin_photo| %>
      <tr>
        <td><%= admin_photo.album %></td>
        <td><%= admin_photo.name %></td>
        <td><%= admin_photo.description %></td>
        <td><%= link_to 'Show', admin_photo %></td>
        <td><%= link_to 'Edit', edit_admin_photo_path(admin_photo) %></td>
        <td><%= link_to 'Destroy', admin_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_admin_photo_path %>
