<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
	<h4 class="modal-title" id="myModalLabel"><%= t("photo.new") %></h4>
</div>
<div class="modal-body">
	<%= form_for(@admin_photo, remote: true, :authenticity_token => true, html: { id: "mydropzone", class: "dropzone dz-clickable", multipart: true }) do |f| %>
 	<%= f.hidden_field :album_id %>
</div>
<div class="modal-footer">
	<a href="javascript:upload()" class="btn btn-primary"><%= t("operate.submit") %></a>
	<button type="button" class="btn btn-default" data-dismiss="modal"><%= t("operate.back") %></button>
</div>
	<% end %>

<%= javascript_tag  do%>
var myDropzone;
$(document).ready(function() {
	Dropzone.autoDiscover = false;
	myDropzone = new Dropzone("#mydropzone",{
		parallelUploads : '20',
		paramName: 'admin_photo[image]',
		// uploadMultiple : true,
		addRemoveLinks : true,
		maxFilesize: 0.5,
		dictRemoveFile: '删除',
		autoDiscover :false,
		autoProcessQueue :false,
		dictResponseError: '文件上传失败',
	});
});
function upload()
{
	 myDropzone.processQueue();
	 $(".btn.btn-sm.btn-danger.btn-block").hide();
}

<% end %>