<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @admin_photo.album %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_photo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_photo.description %>
</p>

<%= link_to 'Edit', edit_admin_photo_path(@admin_photo) %> |
<%= link_to 'Back', admin_photos_path %>
