<%= form_for(@admin_link, html: { id: "validate-form" } ) do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel"><%= t("link.edit") %></h4>
</div>
<div class="modal-body">
  <div class="smart-form">
    <fieldset>
      <!-- name -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"> 
            <%= f.label t("link.name") %><br>
          </label>
          <label class="input">
            <i class="icon-append fa fa-pencil"></i>
            <%= f.text_field :name, required: true, maxlength: 18, placeholder: t("link.name_length_info") %>
          </label>
        </section>
      </div>
      <!-- end name -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"> 
            <%= f.label t("link.url") %><br>
          </label>
          <label class="input">
            <i class="icon-append fa fa-link"></i>
            <%= f.text_field :url, required: true, url: true, placeholder: t("link.url_valid_info") %>
          </label>
        </section>
      </div>
      <% if @admin_link.logo_file_name %>
      <!-- logo -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"><%= f.label t("link.logo") %><br></label>
          <div class="input input-file">
            <span class="button"><%= f.file_field :logo, readonly: 'true', onchange: "this.parentNode.nextSibling.value = this.value", accept: "image/jpeg, image/png, image/gif, image/jpg" %><%= t("operate.upload") %></span><input type="text" readonly="true"  value="<%= @admin_link.logo_file_name %>" >
          </div>
        </section>
      </div>
      <% else %>
      <div class="row">
        <section class="col col-md-12">
          <label class="label"><%= f.label t("link.logo") %><br></label>
          <div class="input input-file">
            <span class="button"><%= f.file_field :logo, readonly: 'true', onchange: "this.parentNode.nextSibling.value = this.value", accept: "image/jpeg, image/png, image/gif, image/jpg" %><%= t("operate.upload") %></span><input type="text" readonly="true" placeholder="<%= t "link.logo_valid_info" %>" >
          </div>
        </section>
      </div>
      <% end %>
      <!-- end logo -->
    </fieldset>
  </div>
  <!-- end smart-form -->
</div>
<div class="modal-footer">
  <%= f.submit t("operate.submit"), class: "btn btn-primary" %>
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("operate.back") %></button>
</div>
<% end %>

<%= javascript_tag  do%>
$(document).ready(function() {
  $('#validate-form').validate();
});
<% end %>




