 <div class="alert alert-info fade in">
 	<button class="close" data-dismiss="alert">
 		×
 	</button>
 	<i class="fa-fw fa fa-info"></i>
 	<strong><%= t "visit.notice" %></strong> <%= t "visit.info" %>
 </div>

 <section id="widget-grid">
	<!-- table section -->
    <%= render "table" %>
	<!-- end table section -->
    <!-- plot section -->
    <%= render "plot" %>
    <!-- end plot section -->
	
   	<!-- pie section -->
    <%= render "pie" %>
    <!-- end pie section -->
   
</section>