 <div class="alert alert-info fade in">
 	<button class="close" data-dismiss="alert">
 		×
 	</button>
 	<i class="fa-fw fa fa-info"></i>
 	<strong><%= t "visit.notice" %></strong> <%= t "visit.info" %>
 </div>

 <section id="widget-grid">

	<!-- table section -->
    <%= render "table" %>
	<!-- end table section -->
    <!-- plot section -->
    <%= render "plot" %>
    <!-- end plot section -->
	
   	<!-- pie section -->
    <%= render "pie" %>
    <!-- end pie section -->
   
</section>

<% content_for :jslib do %>
<%= javascript_tag  do%>
var $chrt_border_color = "#efefef";
var $chrt_grid_color = "#DDD"
var $chrt_main = "#E24913";
/* red       */
var $chrt_second = "#6595b4";
/* blue      */
var $chrt_third = "#FF9F01";
/* orange    */
var $chrt_fourth = "#7e9d3a";
/* green     */
var $chrt_fifth = "#BD362F";
/* dark red  */
var $chrt_mono = "#000";
var plot_data = <%= raw $days_pv %>;
var b_pie_data =  <%= raw $browser_rates %>;
var d_pie_data = <%= raw $device_rates %>;
$(document).ready(function() {

    pageSetUp();

    if ($('#dt_basic').length) {
        $('#dt_basic').dataTable({
            "sPaginationType" : "bootstrap_full",
            "oLanguage" : {
                "sProcessing" : "正在加载中......",
                "sZeroRecords" : "对不起，查询不到相关数据！",
                "sEmptyTable" : "表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": '首页',
                    "sPrevious": '上一页',
                    "sNext": '下一页',
                    "sLast": '末页'
                }
            }
        });
    }
    
    if ($("#pv-plot").length) {
        var plot = $.plot($("#pv-plot"), [{
            data : plot_data,
            label : "当月日PV数"
        }], {
            series : {
                lines : {
                    show : true,
                    lineWidth : 1,
                    fill : true,
                    fillColor : {
                        colors : [{
                            opacity : 0.1
                        }, {
                            opacity : 0.15
                        }]
                    }
                },
                points : {
                    show : true
                },
                shadowSize : 0
            },
            xaxis : {
                min : 1,
                max : 31,
                ticks : 31,
                tickDecimals : 0,
                tickFormatter : function(v) {
                    return v + "日";
                }
            },
            yaxes : [{
                min : 0,
                tickDecimals : 0,
                tickLength : 5,
                tickFormatter : function(v) {
                    return v + " ";
                }
            }],
            grid : {
                hoverable : true,
                clickable : true,
                tickColor : $chrt_border_color,
                borderWidth : 0,
                borderColor : $chrt_border_color
            },
            tooltip : true,
            tooltipOpts : {
                content : "%x日访问量为：%y",
                defaultTheme : false
            },
            colors : [$chrt_main, $chrt_second],
        });
    }
    
    if ($('#pie-chart-browser').length) {
        $.plot($("#pie-chart-browser"), b_pie_data, {
            series : {
                pie : {
                    show : true,
                    innerRadius : 0.5,
                    radius : 1,
                    label : {
                        show : false,
                        radius : 2 / 3,
                        formatter : function(label, series) {
                            return '<div style="font-size:11px;text-align:center;padding:4px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                        },
                        threshold : 0.1
                    }
                }
            },
            legend : {
                show : true,
                noColumns : 1, // number of colums in legend table
                labelFormatter : null, // fn: string -> string
                labelBoxBorderColor : "#000", // border color for the little label boxes
                container : null, // container (as jQuery object) to put legend in, null means default on top of graph
                position : "ne", // position of default legend container within plot
                margin : [5, 10], // distance from grid edge to default legend container within plot
                backgroundColor : "#efefef", // null means auto-detect
                backgroundOpacity : 1 // set to 0 to avoid background
            },
            grid : {
                hoverable : true,
                clickable : true
            },
        });
    }

    if ($('#pie-chart-device').length) {
        $.plot($("#pie-chart-device"), d_pie_data, {
            series : {
                pie : {
                    show : true,
                    innerRadius : 0.5,
                    radius : 1,
                    label : {
                        show : false,
                        radius : 2 / 3,
                        formatter : function(label, series) {
                            return '<div style="font-size:11px;text-align:center;padding:4px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                        },
                        threshold : 0.1
                    }
                }
            },
            legend : {
                show : true,
                noColumns : 1, // number of colums in legend table
                labelFormatter : null, // fn: string -> string
                labelBoxBorderColor : "#000", // border color for the little label boxes
                container : null, // container (as jQuery object) to put legend in, null means default on top of graph
                position : "ne", // position of default legend container within plot
                margin : [5, 10], // distance from grid edge to default legend container within plot
                backgroundColor : "#efefef", // null means auto-detect
                backgroundOpacity : 1 // set to 0 to avoid background
            },
            grid : {
                hoverable : true,
                clickable : true
            },
        });
    }

});
<% end %>
<% end %>

