<div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-upload"></i> </span>
    <h2><%= t("article_picture.upload_title") %></h2>       
  </header>
  <div>
    <div class="jarviswidget-editbox"></div>
    <div class="widget-body no-padding">
      <%= form_for(@admin_article_picture, remote: true, :authenticity_token => true, html: { id: "mydropzone", class: "dropzone dz-clickable", multipart: true }) do |f| %>
      <%= f.hidden_field :article_id %>
      <div class="dz-default dz-message">
        <span>Drop files here to upload</span>
      </div>
      <% end %>
    </div>
    <div class="smart-form">
      <footer>
        <%= link_to t("operate.back"), admin_articles_path, class: "btn btn-primary" %>
        <%= link_to t("operate.apply"), "javascript:reload()" , class: "btn btn-primary" %>
        <%= link_to t("operate.upload"), "javascript:upload()", class: "btn btn-primary" %>
      </footer>
    </div>
  </div>
</div>

