<%if notice %>
<div class="alert alert-success fade in">
  <button class="close" data-dismiss="alert">×</button>
  <i class="fa-fw fa fa-check"></i>
  <strong><%= notice %></strong>
</div>
<% end %>
<%if flash[:error] %>
<div class="alert alert-danger fade in">
  <button class="close" data-dismiss="alert">×</button>
  <i class="fa-fw fa fa-times"></i>
  <strong><%= flash[:error] %></strong>
</div>
<% end %>
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-list-ul"></i> </span>
    <h2><p><%= t("category.table_title") %></p></h2>
  </header>
  <div>
    <div class="jarviswidget-editbox"></div>  
    <div class="widget-body">

       <div class="row">
        <div class="col-md-12">
          <a href="<%= new_admin_category_path(id: 0) %>" class="btn btn-labeled btn-success" >
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
            <%= t("category.new") %>
          </a>
        </div>
      </div><br><!-- crete button -->

      <div class="tree smart-form">
        <%= nested_category @admin_categories.roots %>
      </div>
    </div>
  </div>  
</div>
