<%if notice %>
<div class="alert alert-success fade in">
  <button class="close" data-dismiss="alert">×</button>
  <i class="fa-fw fa fa-check"></i>
  <strong><%= notice %></strong>
</div>
<% end %>
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"><i class="fa fa-eye"></i></span>
    <h2><%= t("category.category_info")%></h2>
  </header>
  <div>
    <div class="jarviswidget-editbox"></div>  
    <div class="widget-body no-padding">
      <div class="smart-form">
        <fieldset>
          <div class="row">
            <div class="col col-2">
              <label class="label"> 
                <h4><%= @admin_category.title %></h4>
              </label>
            </div>
          </div>
          <div class="row">
            <section class="col col-2">
              <label class="toggle">
                <input type="checkbox"  
                <% if @admin_category.is_article %>
                checked
                <% end %>
                disabled >
                <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t("category.is_article") %>
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-2">
              <label class="toggle">
                <input type="checkbox"  
                <% if @admin_category.is_thumb %>
                checked
                <% end %>
                disabled >
                <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t("category.is_thumb") %>
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-2">
              <label class="toggle">
                <input type="checkbox"  
                <% if @admin_category.is_file %>
                checked
                <% end %>
                disabled >
                <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t("category.is_file") %>
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-2">
              <label class="toggle">
                <input type="checkbox"  
                <% if @admin_category.is_abstract %>
                checked
                <% end %>
                disabled >
                <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t("category.is_abstract") %>
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-2">
              <label class="toggle">
                <input type="checkbox"  
                <% if @admin_category.is_carousel %>
                checked
                <% end %>
                disabled >
                <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t("category.is_carousel") %>
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-2">
              <label class="toggle">
                <input type="checkbox"  
                <% if @admin_category.is_option %>
                checked
                <% end %>
                disabled >
                <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t("category.is_option") %>
              </label>
            </section>
          </div>
          <% if @admin_category.is_option === true %>
          <div class="row">
            <div class="col col-4">
              <% @options.each do |category| %>
              <section class="col col-4 pd-l-no">
                <label class="checkbox">
                  <input type="checkbox" name="<%= category.text %>" value="<%= category.text %>" class="option-checbox" disabled
                  <% @admin_category.option_keys.split(",").each do |is_checked| %> 
                  <% if category.text ==  is_checked %>
                  checked
                  <% end %>
                  <% end %>
                  ><i></i><%= category.text %>
                </label>
              </section>  
              <% end %>
            </div> 
          </div>
          <% end %>
        </fieldset>
        <footer>
          <%= link_to t("operate.back"), admin_categories_path, class: "btn btn-primary" %>
          <%= link_to t("operate.edit"), edit_admin_category_path(@admin_category), class: "btn btn-primary" %>
        </footer>
      </div>
    </div>
  </div>
</div>