
<%= form_for(@admin_menu, html: { id: "validate-form" } ) do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel"><%= t("menu.edit") %></h4>
</div>
<div class="modal-body">
  <div class="smart-form">
    <fieldset>
      <!-- parent menu id -->
        <%= f.hidden_field :parent_id %>
      <!-- end parent menu id -->
      <!-- name -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"> 
            <%= f.label t("menu.name") %><br>
          </label>
          <label class="input">
            <i class="icon-append fa fa-pencil"></i>
            <%= f.text_field :name, required: true, maxlength: 12, placeholder: t("menu.name_length_info") %>
          </label>
        </section>
      </div>
      <!-- end name -->
      <!-- url -->
      <div class="row">
        <section class="col col-md-12">
          <label class="label"> 
            <%= f.label t("menu.url") %><br>
          </label>
          <label class="input">
            <i class="icon-append fa fa-link"></i>
            <%= f.text_field :url, required: true, placeholder: t("menu.url_valid_info") %>
          </label>
        </section>
      </div>
      <!-- end url -->
      <!-- order -->
      <div class="row">
        <section class="col col-6">
              <label class="label"><%= f.label t("menu.weight") %></label>
              <%= f.text_field :weight, class: "spinner", id: "spinner", value: 0, style: 'box-sizing: border-box;', required: true, value: @admin_menu.weight %>
            </section>
      </div>
      <!-- end order -->
      <!-- visible -->
      <div class="row">
        <section class="col col-6">
          <label class="toggle">
            <%= f.check_box :visible %>
            <i data-swchoff-text="关闭" data-swchon-text="开启"></i><%= t "menu.visible" %>
          </label>
        </section>
      </div>
      <!-- end visible -->
    </fieldset>
  </div>
  <!-- end smart-form -->
</div>
<div class="modal-footer">
  <%= f.submit t("operate.submit"), class: "btn btn-primary" %>
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("operate.back") %></button>
</div>
<% end %>

<%= javascript_tag  do%>
$(document).ready(function() {
  $('#validate-form').validate();
  $(".spinner").spinner({
      min: 0,
      max: 2500,
      step: 1,
      start: 0,
      numberFormat: "C"
    });
});
<% end %>





