<p id="notice"><%= notice %></p>

<h1>Listing Admin Menus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_menus.each do |admin_menu| %>
      <tr>
        <td><%= admin_menu.name %></td>
        <td><%= admin_menu.url %></td>
        <td><%= link_to 'Show', admin_menu %></td>
        <td><%= link_to 'Edit', edit_admin_menu_path(admin_menu) %></td>
        <td><%= link_to 'Destroy', admin_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_admin_menu_path %>
