<aside id="left-panel">
	<nav>
		<ul>
			<li>
				<a href="#"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">	
					<%= t("menu.submenu.home_menu") %>
				</span></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-lg fa-fw fa-list-ul"></i> <span class="menu-item-parent">
					<%= t("menu.submenu.article_menu") %>
				</span></a>
				<ul>
					<li><%= link_to t("menu.midmenu.article_category_menu"), admin_article_categories_path %></li>
					<li><%= link_to t("menu.midmenu.article_menu"), admin_articles_path %></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">
					<%= t("menu.submenu.picture_menu") %>
				</span></a>
				<ul>
					<li><a href="#">二级菜单</a></li>
					<li><a href="#">二级菜单</a></li>
					<li><a href="{{URL::to('/admin/posts')}}">Posts</a></li>
					<li><a href="{{URL::to('/admin/posts/create')}}">Posts create</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
</aside>