<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CrowCMS</title>
	<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= yield :csslib %>
</head>
<body>
	<!-- 导航栏菜单 -->
	<%= render 'home/includes/navication' %>
	
	<!-- 顶部轮播区 -->
	<div class="cms-banner">
		<%= render 'home/includes/banner' %>
	</div>

	<!-- 文档主体部分 -->
	<div class="container cms-container" role="main">
		<%= yield %>
		<%= render 'home/includes/friendlink' %>
	</div>
	<%= render 'home/includes/footer' %>
	<%= yield :jslib %>
	<%= javascript_include_tag "home", "data-turbolinks-track" => true %>
	
</body>
</html>